# {{projectName}} [![NPM version][npm-image]][npm-url]


# Pre-requisites
- Install [Node.js](https://nodejs.org/en/) version {{ nodeVersion }}


## Installation

```sh
$ npm install
```

## Usage

```js
const variableName = require('{{projectName}}');

```
## License



[npm-image]: https://badge.fury.io/js/hej.svg
[npm-url]: https://npmjs.org/package/hej
