---
on:
  workflow_call:
    inputs:
      pytest:
        required: false
        type: string
        default: "tests"

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v3
        with:
          python-version: '{{ pythonVersion }}'
          architecture: 'x64'

      - name: Install dependencies
        run: python -m pip install -r requirements.txt -r requirements_dev.txt

      - name: Security check
        run: python -m pip install safety && python -m safety check -r requirements.txt --full-report -i 42923 -i 44715

      - name: Syntax check
        run: python -m pylint *.py

      - name: Unit tests
        run: python -m pytest tests
