---
name: Build
on: [push, pull_request]

jobs:
  build:
    uses: telia-company/casf-actions-workflows-shared-library/.github/workflows/python.yml@main
    with:
      version: "{{ pythonVersion }}"
