
on:
  workflow_call:
    inputs:
      ansible_directory:
        required: false
        type: string
        default: "."
      python_version:
        required: false
        type: string
        default: "3.x"

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ inputs.python_version }}

      - name: Install test dependencies.
        run: pip3 install ansible molecule-docker docker yamllint ansible-lint molecule ansible-core

      - name: Install test dependencies.
        run:  python3 -m pip install --user "molecule[docker,lint]"


      - name: Run Yamllint
        run: |
          yamllint ${{ inputs.ansible_directory }}
      - name: Run ansible-lint
        run: |
          ansible-lint ${{ inputs.ansible_directory }}
      - name: Run Molecule tests.
        run: |
          cd ${{ inputs.ansible_directory }} && molecule test  
