---
name: Build
on: [push, pull_request]

jobs:
  build:
    uses: telia-company/casf-actions-workflows-shared-library/.github/workflows/ansible.yml@main
    with:
      python_version: "3.8"
      ansible_directory: roles/{{ projectName }}